/* Сброс CSS */
*,
*::before,
*::after {
  box-sizing: border-box; /* Устанавливаем box-sizing для всего */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
}

/* Стили для html и body */
html {
  height: 100%; /* Устанавливаем высоту для html, чтобы body мог быть 100% */
}

body {
  max-width: 100vw; /* Ограничиваем максимальную ширину */
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
  line-height: 1.5; /* Устанавливаем базовую высоту строки */
  font-family: Montserrat; /* Устанавливаем базовый шрифт для документа */
  -webkit-font-smoothing: antialiased; /* Улучшаем отображение шрифтов для Webkit браузеров */
  -moz-osx-font-smoothing: grayscale; /* Улучшаем отображение шрифтов для Firefox на MacOS */
}

/* Стили для ссылок */
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit; /* Наследуем цвет текста от родительского элемента */
}

/* Стили для изображений */
img {
  max-width: 100%; /* Делаем изображения адаптивными */
  height: auto; /* Устанавливаем автоматическую высоту */
  display: block; /* Убираем лишние отступы у изображений */
}

/* Стили для списков */
ul,
ol {
  list-style: none; /* Убираем стили списка */
}

/* Стили для таблиц */
table {
  border-collapse: collapse; /* Убираем промежутки между ячейками таблицы */
}

/* Стили для полей ввода и кнопок */
input,
button,
textarea,
select {
  font: inherit; /* Наследуем шрифты от body */
  color: inherit; /* Наследуем цвет текста от body */
}

/* Стили для всех форм */
form {
  margin: 0; /* Убираем внешние отступы у форм */
}

/* Убираем стандартные стили для элементов форм в Firefox */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Стили для кнопок и ссылок-кнопок */
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button {
  cursor: pointer; /* Добавляем указатель курсора для кнопок */
  background-color: transparent; /* Прозрачный фон для кнопок */
  border: none; /* Убираем границы у кнопок */
}

/* Устанавливаем фокус для интерактивных элементов */
:focus {
  outline: none; /* Убираем стандартный outline */
  /* Добавляем ваш стиль для фокуса, например: */
  box-shadow: 0 0 0 2px blue; /* Синяя тень вокруг элемента */
}
